@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap");

*{
      margin: 0;
      padding: 0;
      box-sizing: border-box;
      font-family: "Poppins",sans-serif;
}
body{
      min-height: 100vh;
      width: 100%;
      background: #c8e8e9;
      display: flex;
      align-items: center;
      justify-content: center;
}
.container{
      padding-top: 15px;
      width: 80%;
      background: #fff;
      padding: 20px 60px 40px 40px;
      border-radius: 6px;
      box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2) ;
}
.container .content{
      display: flex;
      align-items: center;
      justify-content: space-between;

}
.container .content .left-side{
      width: 25%;
      height: 100%;
      position: relative;
}

.content .left-side ::before{
      content: "";
      position: absolute;
      height:70% ;
      width: 5px;
      background:  #625b5b;
      right:-45px ;
      top:50%;
      transform: translateY(-50%);
}

 .content .left-side .details{
      margin: 14px;
      text-align: center;
 }
 .content .left-side .details i{
      font-size: 30px;
      color: #3e2093;
 }
  .content .left-side .details .text-two,
  .content .left-side .details .text-one{
       font-size: 14px;
       color: #afafaf;
  }
.container .content .right-side{
      width: 75%;
      height: 100%;
      margin-left: 75px;
      margin-bottom: 10px;
      position: relative;
}  
.content .left-side .details .topic{
      font-size: 18px;
      font-weight: 500;
}  
.content .right-side .topic-text{
      font-size: 14px;
      font-weight: 600;
      color: #3e2093;
}

.right-side .topic-text .input-box input{
      height: 100%;
      width: 100%;
      
      border:none ;
      background-color:#f0f1f8 ;
      border-radius: 6px;
}
.input-box{
      
         height: 50px;
      margin: 10px 20px;
      margin-left: 0;
      width: 320px;
       box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
      border-bottom: 2px solid #afafaf;
}
.right-side::before{
      content: "";
      position: absolute;
      top:50%;
      transform: translateY(-50%);
      background-color: #625b5b;
      width: 5px;
      right: -10px;
      height: 300px;
}
.input-box input{
      outline: none;
      border: none;
      padding: 10px 10px;
      width: 100%;
     
      
}
 textarea{
      border: none;
      outline: none;
      padding:10px 20px; 
      height: 100%;
      overflow: hidden;
      width: 100%;
      
}
 .message-box{
     border: 2px solid #afafaf;
     margin-bottom: 20px;
     height: 90px;
     
}
.input-box input:focus{
      border: #afafaf 3px solid;
      border-radius: 5px;
}
::placeholder{
  color: #afafaf;
  font-weight: bold;
}
.button1{
   padding: 5px 15px;
   color: #afafaf;
   border: 2px solid #afafaf;
   background-color: #fff;
   margin: 10px 5px ;
   width: 140px;
   height: 40px;
   border-radius: 15px 0px 15px 15px;
}
.button1:hover{
      color: #a19999;
      /*background-color: #afafaf;*/
      cursor: pointer;
      border-top-right-radius: 15px;

}
@media(max-width:568px){
      .content{
            display: flex;
            flex-direction: column;
            margin: 0;
            padding: 0;
      }
      .container{
            width: 100%;
            margin-left: 0;
            padding-left: 0;
            height: 100%;
      }
       .content .left-side ::before{
            display: none;
       }
      .right-side::before{
      content: "";
      position: absolute;
      top:-25px;
      background-color: #625b5b;
      width: 300px;
      right: 20px;
      height: 5px;
     }
     .left-side{
      margin-bottom: 15px;
     }
      .right-side{
            margin-top: 25px;
      }
      .details{
            display: block;
            width: 200px;
            padding-right: 20px;
            margin-right: 20px;
      }
}

